* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
}

.center_block {
    display: flex;
    justify-content: space-between;
}

/* font regular  */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato') url(font/Lato-Regular.woff);
}

/* font bold */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato') url(font/Lato-Bold.woff);
}

/* font black */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato') url(font/Lato-Black.woff);
}

/* font italic */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato') url(font/Lato-Italic.woff);
}

/* up content start ________________________________________*/
.header_menu {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: #222;
}

.logo_bar {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    padding-right: 40px;
}

.menu_bar {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

.nav_burger,
.nav_account {
    padding-right: 32px;
}

.top {
    background-color: #F1E4E6;
    display: flex;
    justify-content: space-around;
}

.top_text {
    margin: 286px 0 0 0;
    position: relative;
}

.top_text::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    position: absolute;
    top: 3px;
    left: -4px;

}

.h1_top_text,
.p_top_text {
    margin-left: 16px;
}

.h1_top_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bolder;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.p_top_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.change_color {
    color: #F16D7F;
}

/* up content  end ________________________________________*/

/* offer list start ________________________________________*/
.offer {
    padding: 65px 0 96px 0;
}

.offer_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.first_row_offer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.offer_card_for_women {
    width: 31%;
    height: 260px;
    background-image: url(img/offer/for_women.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.offer_card_for_men {
    width: 31%;
    height: 260px;
    background-image: url(img/offer/for_men.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.offer_card_for_kids {
    width: 31%;
    height: 260px;
    background-image: url(img/offer/for_kids.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.offer_card_accesories {
    margin: 30px 0 0 0;
    width: 100%;
    height: 180px;
    background-image: url(img/offer/accesories.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.offer_card_text {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.offer_card_text_1row {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offer_card_text_2row {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

/* offer list end ________________________________________*/

/* products list start ________________________________________*/

.products_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_heading_products {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.sub_heading_products {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.card_products {
    margin-top: 50px;
    max-width: 31%;
    box-sizing: border-box;
    background-color: #F8F8F8;
}

.products_card_block {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_products_image {
    width: 100%;
}

.card_products_title {
    padding: 24px 0 12px 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card_products_discript {
    width: 70%;
    padding: 0 0 12px 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.card_products_price {
    padding: 0 0 12px 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.browse_all_product {
    width: 212px;
    height: 48px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    background-color: #FFFFFF;
}

.button_wraper {
    display: flex;
    justify-content: center;
    margin: 0 0 95px 0;
}

/* products list end ________________________________________*/

/* feature list start ________________________________________*/

.feature {
    background-color: #222224;
}

.feature_list {
    padding: 104px 0 104px 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.feature_card {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.feature_card_title {
    padding: 20px 0 20px 0;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature_card_text {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

/* feature list end ________________________________________*/

/* subscribe list start ________________________________________*/

.subscribe {
    padding: 112px 0 112px 0;
    background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)),
        url(img/subscribe/subscribe_img.jpg);
    background-color: #F3F3F3;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.subscribe_card_about {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subscribe_card_about_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe_card_about_text_italic {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe_card_submit_input {
    display: flex;
}

.subscribe_card_submit_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe_card_sumbmit_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    padding-bottom: 32px;
}

.submit_input {
    border: none;
    width: 60%;
    height: 49px;
    border-radius: 20px 0 0 20px;
    background: #E1E1E1;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    padding-left: 20px;
}

.submit_input_button {
    border: none;
    border-radius: 0 20px 20px 0;
    width: 40%;
    background: #F16D7F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

/* subscribe list end ________________________________________*/

/* footer start ________________________________________*/

.footer_page {
    background: #222224;
    padding: 24px 230px;
    display: flex;
    justify-content: space-between;
}

.footer_all_rights {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: auto;
    margin-bottom: auto;
}

.footer_socialmedia {
    display: flex;
    list-style-type: none;
}

.socialmedia_icon {
    padding-right: 8px;
}

/* footer end ________________________________________*/

/* catalog start____________________________________________ */

.breadcrumbs {
    padding: 60px 0 60px 0;
    background-color: #F8F3F4;
}

.active_color {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.breadcrumbs_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumbs_links,
.breadcrumbs_links_slash {
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumbs_links_slash {
    padding: 0 6px 0 6px;
}

.filter {
    margin: 0 304px 0 16px;
    display: flex;
}

.filter_text {
    padding: 0 12px 0 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.filter_icon {
    height: 17px;
}

.filter_sorting {
    padding: 50px 0 0 0;
    display: flex;
}

.sort_trend,
.sort_size,
.sort_price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.sort_link {
    margin: 0 28px 0 0;
}

.sorting {
    display: flex;
}

.block_wraper {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.pages_list {
    display: flex;
    list-style-type: none;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    padding: 12px 16px;
}

.color_pink {
    color: #EF5B70;
}

.list_pages_number {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    text-decoration: none;
    padding: 0 12px 0 12px;
}

.arrow {
    height: 19px;
}

/* catalog end____________________________________________ */

/* product start___________________________________________*/

.slider {
    min-height: 777px;
    background-image: url(img/product/main_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
}

.left_right {
    display: flex;
    justify-content: center;
}

.arrow_left_right {
    width: 47px;
}

.about_product {
    border: 1px solid #EAEAEA;
    margin-top: -50px;
    padding: 64px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection_product {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-align: center;
    padding-bottom: 28px;
    position: relative;
}

.collection_product::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #EF5B70;
    position: absolute;
    top: 30px;
    left: 43px;

}

.name_product {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-align: center;
}

.text_product {
    max-width: 555px;
    padding: 48px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}

.price_product {
    padding: 0 0 130px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    position: relative;
}

.price_product::after {
    content: "";
    display: block;
    width: 641px;
    height: 1px;
    background-color: #EAEAEA;
    position: absolute;
    top: 93px;
    left: -280px;
}

.add_to_cart {
    margin-top: 48px;
    padding: 14px 57px 14px 24px;
    display: flex;
    align-items: center;
    border: 1px solid #FF6A6A;
    background-color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.add_to_cart_icon {
    padding-right: 24px;
}

.products_list_offers {
    margin-bottom: 128px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* product end___________________________________________ */