* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
}

.center_block {
    display: flex;
    justify-content: space-between;
}

/* font regular  */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato') url(font/Lato-Regular.woff);
}

/* font bold */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato') url(font/Lato-Bold.woff);
}

/* font black */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato') url(font/Lato-Black.woff);
}

/* font italic */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato') url(font/Lato-Italic.woff);
}

/* HEADER start ________________________________________*/
.header_menu {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: #222;
}

.logo_bar {
    display: flex;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

/* SEARCH START*/
.search-icon-form {
    display: flex;
    position: relative;
} 

.search-icon-form__label {
    display: flex;
    width: 100%;
    height: 100%;
}

.click_icon_svg {
    min-width: 30px;
    min-height: 30px;
    width: 100%;
    height: 100%;
    fill: #fff;
    padding-right: 16px;
}

.search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Lato';
    text-transform: capitalize;
}
  
.search-icon-form__input:focus {
    min-width: 700px;
    min-height: 20px;
    transition: width 2s ease-in;
    border: 2px solid #fff;
}

/* SEARCH END*/

.logo {
    padding-right: 40px;
}

.menu_bar {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

.nav_burger,
.nav_account {
    padding-right: 32px;
}

/* HEADER END__________________________ */
/* TOP START____________________________ */
.top {
    background-color: #F1E4E6;
    display: flex;
    justify-content: space-around;
}

.top_text {
    margin: 286px 0 0 0;
    position: relative;
}

.top_text::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    position: absolute;
    top: 3px;
    left: -4px;
}

.h1_top_text,
.p_top_text {
    margin-left: 16px;
}

.h1_top_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bolder;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.p_top_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.change_color {
    color: #F16D7F;
}

/* TOP END */

/* offer list start ________________________________________*/
.offer {
    padding: 65px 0 96px 0;
}

.offer_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.first_row_offer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.offer_card_for_women {
    width: 31%;
    height: 260px;
    background-image: url(img/picture/for_women.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.offer_card_for_men {
    width: 31%;
    height: 260px;
    background-image: url(img/picture/for_men.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.offer_card_for_kids {
    width: 31%;
    height: 260px;
    background-image: url(img/picture/for_kids.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.offer_card_accesories {
    margin: 30px 0 0 0;
    width: 100%;
    height: 180px;
    background-image: url(img/picture/accesories.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.offer_card_text {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.offer_card_text_1row {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offer_card_text_2row {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

/* offer list end ________________________________________*/

/* products list start ________________________________________*/

.products_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* HOVER CARD START*/
.txt {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
}

.products-item {
    position: relative;
    background: #F8F8F8;
}
  
.products-item:hover .products-item-btn {
    display: flex;
}

.products-item:hover .products-item-photo {
    filter: brightness(50%);
} 

.products-item-txt-wrp {
    padding: 25px 18px 20px 18px;
    box-sizing: border-box;
    text-align: left;
}
  
.products-item-title {
    display: block;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
  
.products-item-txt {
    margin: 0 0 18px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
  
.products-item-price {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
  
.products-item-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 38.3%;
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 188px;
    left: 32.7%;
}
  
.products-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
  }

/* HOVER CARD END*/

.main_heading_products {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.sub_heading_products {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.card_products {
    /* li */
    margin-top: 50px;
    max-width: 31%;
    box-sizing: border-box;
    position: relative;
    background-color: #F8F8F8;
}

.button_wraper {
    display: flex;
    justify-content: center;
    margin: 45px 0 95px 0;
}

.browse_all_product {
    width: 212px;
    height: 48px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #FF6A6A;
    background-color: #FFFFFF;
}

.decnone{
    text-decoration: none;
    color: #F26376;
}

.page_number{
    color: #C4C4C4;
}

/* products list end ________________________________________*/

/* feature list start ________________________________________*/

.feature {
    background-color: #222224;
}

.feature_list {
    padding: 104px 0 104px 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.feature_card {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.feature_card_title {
    padding: 20px 0 20px 0;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature_card_text {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

/* feature list end ________________________________________*/

/* subscribe list start ________________________________________*/

.subscribe {
    padding: 112px 0 112px 0;
    background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)),
        url(img/picture/subscribe_img.jpg);
    background-color: #F3F3F3;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.subscribe_card_about {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subscribe_card_about_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe_card_about_text_italic {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe_card_submit_input {
    display: flex;
}

.subscribe_card_submit_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe_card_sumbmit_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    padding-bottom: 32px;
}

.submit_input {
    border: none;
    width: 60%;
    height: 49px;
    border-radius: 20px 0 0 20px;
    background: #E1E1E1;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    padding-left: 20px;
}

.submit_input_button {
    border: none;
    border-radius: 0 20px 20px 0;
    width: 40%;
    background: #F16D7F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

/* subscribe list end ________________________________________*/

/* footer start ________________________________________*/

.footer_page {
    background: #222224;
    padding: 24px 230px;
    display: flex;
    justify-content: space-between;
}

.footer_all_rights {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: auto;
    margin-bottom: auto;
}

.footer_socialmedia {
    display: flex;
    list-style-type: none;
}

.socialmedia_item {
    width: 32px;
    height: 32px;
    background-color: white;
    margin-right: 8px;
}

.socialmedia_item:hover{
    background-color: #EF5B70;
}

/* footer end ________________________________________*/

/* catalog start____________________________________________ */

.breadcrumbs {
    padding: 60px 0 60px 0;
    background-color: #F8F3F4;
}


.active_color {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.breadcrumbs_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumbs_links,
.item_breadcrumb,
.breadcrumbs_links_slash {
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumbs_links_slash {
    padding: 0 6px 0 6px;
}

.filter {
    margin: 0 304px 0 16px;
    display: flex;
}

.filter_text {
    padding: 0 12px 0 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.filter_icon {
    height: 17px;
}

.filter_sorting {
    padding: 50px 0 0 0;
    display: flex;
}

.sort_trend,
.sort_size,
.sort_price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.sort_link {
    margin: 0 28px 0 0;
}

.sorting {
    display: flex;
}

.block_wraper {
    display: flex;
    justify-content: center;
    margin: 48px 96px;
}

.pages_list {
    display: flex;
    list-style-type: none;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    padding: 12px 16px;
}

.color_pink {
    color: #EF5B70;
}

.list_pages_number {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    text-decoration: none;
    padding: 0 12px 0 12px;
}

.arrow {
    height: 19px;
}

/* catalog end____________________________________________ */

/* product start___________________________________________*/

.slider {
    min-height: 777px;
    background-image: url(img/picture/main_slider_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
}

.product_page_card_block{
    margin: 0 0 96px 0;
}

.left_right {
    display: flex;
    justify-content: center;
}

.arrow_left_right {
    width: 47px;
}

.about_product {
    border: 1px solid #EAEAEA;
    margin-top: -50px;
    padding: 64px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection_product {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-align: center;
    padding-bottom: 28px;
    position: relative;
}

.collection_product::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #EF5B70;
    position: absolute;
    top: 30px;
    left: 43px;

}

.name_product {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-align: center;
}

.text_product {
    max-width: 555px;
    padding: 48px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}

.price_product {
    padding: 0 0 130px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    position: relative;
}

.price_product::after {
    content: "";
    display: block;
    width: 641px;
    height: 1px;
    background-color: #EAEAEA;
    position: absolute;
    top: 93px;
    left: -280px;
}

.add_to_cart {
    margin-top: 48px;
    padding: 14px 57px 14px 24px;
    display: flex;
    align-items: center;
    border: 1px solid #FF6A6A;
    background-color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.add_to_cart_icon {
    padding-right: 24px;
}

.products_list_offers {
    margin-bottom: 128px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* product end___________________________________________ */


/* CART START */

.cart_items_register{
    margin-top: 56px;
    margin-bottom: 128px;
}
.cart_item_container{
    width: 652px;
}
.cart_item{
    padding-top: 40px;
    min-width: 652px;
    display: flex;
}

.cart_item_img{
    max-width: 256px;
}

.cart_item_discript{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main_title_in_cart{
    display: flex;
    justify-content: space-between;
}

.cart_item_title{
    padding: 0 0 40px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.cart_item_param{
    padding: 6px 0 0 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.in_cart_input{
    width: 48px;
    height: 28px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    text-align: center;
    border: 1px solid #EAEAEA;
}

.cart_buttons{
    padding: 89px 0 0 0 ;
    display: flex;
    justify-content: space-between;
}
.button_clear_cart,
.button_continue_shoping {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 16px 40px;
    background-color: white;
    border: 1px solid #A4A4A4;
}


.cart_register{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.cart_items_register{
    display: flex;
    justify-content: space-between;
}

.cart_register_input{
    padding-left: 16px;
    margin-bottom: 20px;
    min-width: 360px;
    min-height: 44px;
    border: 1px solid #A4A4A4;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.button_clear_get_quote{
    background-color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    max-width: 100px;
    padding: 12px 14px;
    border: 1px solid #A4A4A4;
}

.cart_register_title{
    padding-bottom: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.cart_price_total{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 57px;
    min-width: 360px;
    background: #F5F3F3;
    padding: 40px;
}

.sub_total{
    padding-bottom: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.sub_total_price{
    padding-left: 24px;
}

.change_color_cart{
    padding-left: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.grand_total{
    padding-bottom: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    position: relative;
}

.grand_total::after{
    content: '';
    background: #E2E2E2;
    width: 275px;
    height: 1px;
    position: absolute;
    top: 36px;
    left: -151px;
}

.button_proceed{
    width: 100%;
    background: #F16D7F;
    padding: 15px 40px;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}


/* CART END */